name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_call:

jobs:
  build-and-test:
    name: Build and Test
    runs-on: macos-14

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.2"

      - name: Resolve Package Dependencies
        run: xcodebuild -resolvePackageDependencies -project Bowzer.xcodeproj

      - name: Build
        uses: ./.github/actions/xcodebuild
        with:
          command: build

      - name: Run Tests
        uses: ./.github/actions/xcodebuild
        with:
          command: test

      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: Bowzer-Debug
          path: ~/Library/Developer/Xcode/DerivedData/**/Build/Products/Debug/Bowzer.app
          retention-days: 7
